/* ----------------------------------------------- Landing page styling */

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

#all-books {
    margin-top: 4em;
}

.row .no-padding {
    padding: 0;
}

/* ----------------------------------------------- About JustBooks */

.connect-container-img {
    background-image: url(../images/about-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.connect-container, .bottom-page-container {
    background: linear-gradient(to right, 
    rgba(12, 135, 132, 0.85),
    rgba(15, 169, 165, 0.85));
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.connect-container h2 {
    margin: 0;
    font-size: 1.8em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 .5rem 1rem .5rem;
    line-height: 2rem;
}

.connect-container h3 {
    font-size: 1em;
    line-height: 1.5rem;
    margin: 1.5rem 0 2.5em 0;
    padding: 0 .5rem;
}

.about-container {
    padding-bottom: 1rem;
}

.about-container .row .col {
    padding: 0;
}

.about-container img {
    width: 100%;
    height: auto;
}

.about-container h2 {
    margin: 1rem 0 1.5rem 0;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #666666;
}

.divider-line {
    width: 150px;
    height: 1px;
    background-color: #666666;
    margin: 0 auto 1.5rem auto;
}

.about-container p {
    font-size: .9rem;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 0 .5em;
    line-height: 1.5rem;
}

.bottom-page-container {
    height: 360px;
}

/* ----------------------------------------------- Swiper banner styling */

#banner {
    background-color: #535353;
}

.swiper-banner {
    height: 70vh;
}

.swiper-banner .swiper-slide img {
    width: auto;
    height: 30vh;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
}

.swiper-banner .btn {
    margin: 1rem 0;
}

.swiper-banner .swiper-slide .card-title {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.swiper-banner .swiper-slide .card-title, .swiper-banner .swiper-slide .card-text {
    margin-top: 2rem;
}

/* ----------------------------------------------- Swiper carousel styling */

.swiper-container {
    width: 100%;
}

.swiper-carousel .swiper-slide {
    background-color: #fff;
}

.swiper-carousel .swiper-slide img {
    width: auto;
    max-width: 170px;
    height: 250px;
    display: block;
    margin: 35px auto 20px auto;
}

.swiper-slide .card-title, .swiper-slide .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 1em 1em 1em;
}

.swiper-carousel .swiper-slide .card-title {
    text-transform: uppercase;
}




/* ----------------------------------------------- Media Queries */

@media only screen and (min-width: 601px) {

    /* ------------- Swiper styling */

    .swiper-carousel .swiper-slide img {
        width: 70%;
    }

    .about-container p {
        padding: 0 1.5rem;
    }

    .bottom-page-container {
        height: 270px;
    }
    

}

@media only screen and (min-width: 1024px) {

    /* ------------- Swiper Styling */

    .swiper-carousel .swiper-slide img {
        height: 300px;
        width: 100%;
        margin: 0 auto 20px auto;
    }

    .swiper-carousel .swiper-slide {
        height: 400px !important;
    }

}