.image-container {
    position: relative;
    margin-bottom: 2rem;
}

.image-container img {
    display: block;
    position: relative;
    width: auto;
    height: 240px;
    margin: auto;
}

.card .card-content {
    padding: 12px;
}

h4 {
    font-size: 1.6rem;
    margin: 0 0 1em 0;
    font-weight: 300;
    line-height: 1.3em;
}

.card-title p {
    font-size: 1rem;
}

.store-link .btn {
    width: 60%;
    height: 50px;
    line-height: 50px;
}

.store-link.card {
    background-color: transparent;
    box-shadow: none;
}

@media only screen and (min-width: 601px) {

    .btn-floating.halfway-fab {
        right: -28px;
    }

    .store-link .btn {
        width: 80%;
    }

    .book-container {
        margin-top: 2rem;
    }
}