@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

.trial {
    background-color: #ca6356;
}

html {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0px;
    background: #efefef;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.desktop-view {
    display: none;
}

/* ----------------------------------------------- Site wide navbar styling */

.page-wrapper {
    overflow: hidden;
}

nav {
    background-color: #fff;
    box-shadow: none;
    height: 40px;
    line-height: 40px;
}

nav .brand-logo {
    font-size: 1rem;
}

.page-footer {
    background-color: #F18F01;
}

.base-container {
    margin: 0 auto;
    width: 90%;
}

nav .sidenav-trigger {
    margin: 0 auto;
}

nav .sidenav-trigger i {
    height: 40px;
    line-height: 40px;
}

nav .brand-logo {
    color: #000000;
}

nav a {
    color: #000000;
}

/* ----------------------------------------------- Site wide buttons */

.btn-custom {
    background-color: #0FA9A5;
    letter-spacing: .15em;
}

.btn-custom-alt {
    background-color: #ca6356;
    letter-spacing: .15em;
}

/* ----------------------------------------------- Site wide heading styling */

h2 {
    font-size: 1.25rem;
}

/* ----------------------------------------------- Site wide card styling */

.card, .card-panel {
    box-shadow: none;
}

.card {
    height: 22vh;
}

.card.horizontal {
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .05);
}

.card.horizontal .card-image img {
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
    padding: .3em;
}

.card.horizontal .card-image {
    max-width: 30%;
}

.card .card-content {
    padding: 10px;
}

.card .card-content .card-title {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #56587F;
    width: 9em;
    height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
}

.card-text {
    font-weight: 300;
    font-size: 13px;
}

.card .card-action {
    padding: 5px 15px;
}

/* ----------------------------------------------- Manage Books styling */

.card-stacked .card-action {
    position: absolute;
    bottom: 0;
}

.pagination li.active {
    background-color: #0FA9A5;
}

/* ----------------------------------------------- "Average" Sized Mobile Phones */

@media only screen and (min-width: 359px) {

    .card .card-content .card-title {
        width: 12.5em;
        white-space: normal;
    }

    .card .card-action {
        padding: 16px 24px;
    }
    
}

/* ----------------------------------------------- Tablet Styling */

@media only screen and (min-width: 601px) {

    /* --------------------------- All pages styling */

    .base-container {
        width: 85%;
    }

    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 40px;
        line-height: 40px;
    }

}

/* ----------------------------------------------- First Desktop / Large Tablet view */

@media only screen and (min-width: 1024px) {

    /* --------------------------- Anything above viewsize styling */

    .desktop-view {
        display: block;
    }

    .mobile-view {
        display: none;
    }

    .base-container {
        width: 70%;
    }

    /* --------------------------- Navigation styling for desktop */

    nav .brand-logo {
        padding: 0 12px 0 12px;
    }

}

/* -----------------------------------------------  Large Desktop view styling */

@media only screen and (min-width: 1400px) {

    /* --------------------------- Base / All pages styling */

    .desktop-view {
        display: block;
    }

    .mobile-view {
        display: none;
    }

    .base-container {
        width: 60%;
    }

    /* --------------------------- Manage books styling */

    .card {
        height: 48vh;
    }
}

/* -----------------------------------------------  Extra Large Desktop view styling */

@media only screen and (min-width: 2000px) {

    .base-container {
        width: 55%;
    }
}