@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

.trial {
    background-color: #ca6356;
}

html {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    min-height: 100%;
}

body {
    margin: 0px;
    background: #efefef;
}

.page-wrapper {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

main {
    margin-bottom: 5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.desktop-view {
    display: none;
}

/* ----------------------------------------------- Site wide navbar styling */

nav {
    background-color: #fff;
    box-shadow: none;
    height: 40px;
    line-height: 40px;
}

nav .brand-logo {
    font-size: 1.4rem;
    color: #000000;
}

.page-footer {
    background-color: #0FA9A5;
}

.base-container {
    margin: 0 auto;
    width: 90%;
}

nav .sidenav-trigger {
    margin: 0 auto;
}

nav .sidenav-trigger i {
    height: 40px;
    line-height: 40px;
}

nav a, nav ul a {
    color: #000000;
}

.dropdown-content li>a {
    color: #000000;
}

.sidenav li>a {
    padding: 0 1rem;
}


.nav-wrapper .input-field input[type=search] {
    padding: 0 42px;
    width: 70%;
}

.search-icon.material-icons {
    line-height: 3rem;
}

.sidenav .divider {
    margin: 0 0 0 0;
}

/* ----------------------------------------------- Site wide buttons / colours */

.custom-blue {
    color: #0FA9A5;
}

.custom-red {
    color: #d31900;
}

.btn-custom {
    background-color: #0FA9A5;
    letter-spacing: .15em;
}

.btn-custom-alt {
    background-color: #d31900;
    letter-spacing: .15em;
}

.btn-custom-alt:hover {
    background-color: #ff0000;
}

/* ----------------------------------------------- Site wide heading styling */

h2 {
    font-size: 1.25rem;
}

/* ----------------------------------------------- Modal Styling */

.modal {
    width: fit-content;
}

.modal-content a {
    min-width: 110px;
    margin: 2em;
}

.modal-content h4 {
    margin: 1em 0 0 0;
}

/* ----------------------------------------------- Site wide card styling */

.card-text {
    font-weight: 300;
    font-size: 13px;
}

.card-action {
    width: 100%;
}

/* ----------------------------------------------- No Results Styling */

.svg-styling {
    width: 90vw;
    height: auto;
    margin-top: 5vh;
}

.no-results {
    font-size: 1.5em;
    margin: 5vh 0;
}

/* ----------------------------------------------- Flashes Styling */

/* Code below attributed to W3Schools snackbar styling */

#custom-toast {
    min-width: 100px;
    margin-left: -50px;
    background-color: #323232;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    padding: 1em;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 60px;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 60px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 60px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 60px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 60px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

/* End of W3Schools code */



/* ----------------------------------------------- Tablet Styling */

@media only screen and (min-width: 601px) {

    /* --------------------------- HTML Switch */

    .desktop-view {
        display: block;
    }

    .mobile-view {
        display: none;
    }

    /* --------------------------- All pages styling */

    .base-container {
        width: 85%;
    }

    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 40px;
        line-height: 40px;
    }

    .btn-small {
        height: 40px;
        line-height: 40px;
        width: 45%;
        display: inline-block;
    }

    .genre-dropdown.dropdown-content {
        min-width: 200px;
        overflow-x: hidden;
        height: 50vh !important;
    }

    .svg-styling {
        width: 400px;
        height: auto;
        margin-top: 10vh;
    }

    .no-results {
        margin: 5vh 0;
    }
}

/* ----------------------------------------------- Large Grid */

@media only screen and (min-width: 993px) {

    nav .brand-logo {
        padding: 0 12px 0 12px;
    }

    .search-bar {
        max-width: 400px;
    }

    #search-bar {
        margin-left: 140px;
    }

    .search-icon.material-icons {
        line-height: 40px;
        font-size: 1.4rem;
    }

    .input-field input[type=search] ~ .material-icons {
        font-size: 1.5rem;
    }

}

/* ----------------------------------------------- First Desktop / Large Tablet view */

@media only screen and (min-width: 1200px) {

    /* --------------------------- Anything above viewsize styling */

    .base-container {
        width: 70%;
    }

}

@media only screen and (min-width: 1440px) {

    .search-bar {
        max-width: 500px;
    }

}

/* -----------------------------------------------  Large Desktop view styling */

@media only screen and (min-width: 1660px) {

    /* --------------------------- Base / All pages styling */

    .base-container {
        width: 60%;
    }

}