@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

.trial {
    background-color: #ca6356;
}

html {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0px;
    background: #efefef;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.desktop-view {
    display: none;
}

/* ----------------------------------------------- Site wide navbar styling */

.page-wrapper {
    overflow: hidden;
}

nav {
    background-color: #fff;
    box-shadow: none;
    height: 40px;
    line-height: 40px;
}

nav .brand-logo {
    font-size: 1rem;
}

.page-footer {
    background-color: #F18F01;
}

.base-container {
    margin: 0 auto;
    width: 90%;
}

nav .sidenav-trigger {
    margin: 0 auto;
}

nav .sidenav-trigger i {
    height: 40px;
    line-height: 40px;
}

nav .brand-logo {
    color: #000000;
}

nav a {
    color: #000000;
}

/* ----------------------------------------------- Site wide buttons */

.btn-custom {
    background-color: #0FA9A5;
    letter-spacing: .15em;
}

.btn-custom-alt {
    background-color: #ca6356;
    letter-spacing: .15em;
}

/* ----------------------------------------------- Site wide heading styling */

h2 {
    font-size: 1.25rem;
}

/* ----------------------------------------------- Site wide card styling */

.card, .card-panel {
    box-shadow: none;
}

/* I am using viewport height for mobile styling only as generally a user expects 
    data to be shown bigger on plus versions of phones. If I kept a hard height 
    it would mean that even on a especially long phone there will be tiny images 
    tons of books displayed. It makes the experience slightly better for users. */
.card {
    height: 22vh;
}

.card.horizontal {
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .05);
}

.card.horizontal .card-image img {
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
    padding: .3em;
}

.card.horizontal .card-image {
    max-width: 30%;
}

.card .card-content {
    padding: 10px;
}

.card .card-content .card-title {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    width: 9em;
    height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
}

.card-text {
    font-weight: 300;
    font-size: 13px;
}

.card .card-action {
    padding: 5px 15px;
}

/* ----------------------------------------------- Manage Books styling */

.card-stacked .card-action {
    position: absolute;
    bottom: 0;
}

.pagination li.active {
    background-color: #0FA9A5;
}

/* ----------------------------------------------- "Average" Sized Mobile Phones */

@media only screen and (min-width: 359px) {

    .card .card-content .card-title {
        width: 12.5em;
        white-space: normal;
    }

    .card .card-action {
        padding: 16px 24px;
    }
    
}

/* ----------------------------------------------- Tablet Styling */

@media only screen and (min-width: 601px) {

    /* --------------------------- HTML Switch */

    .desktop-view {
        display: block;
    }

    .mobile-view {
        display: none;
    }

    /* --------------------------- All pages styling */

    .base-container {
        width: 85%;
    }

    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 40px;
        line-height: 40px;
    }

    /* Manage Books cards */

    .card .card-image img {
        height: 180px;
        width: auto;
        margin: auto;
        padding-top: 1em;
    }

    .card .card-content .card-title {
        width: auto;
        height: auto;
        white-space: nowrap;
    }

    .card {
        height: 300px;
    }

    .card-action {
        text-align: center;
    }

    .card .card-action {
        padding: 16px 0 0 0;
    }

    .card .card-content {
        padding: 10px 0 0 0;
    }

    .btn-small {
        height: 40px;
        line-height: 40px;
        width: 45%;
        display: inline-block;
    }
}

/* ----------------------------------------------- Most Popular Style of Tablet size in the world (approx) */

@media only screen and (min-width: 767px) {

    /* My own gird breakdown */

    .row .col.m6 {
        width: 33.3333333333%;
    }

}

/* ----------------------------------------------- Large Grid */

@media only screen and (min-width: 993px) {

    .row .col.m6 {
        width: 25%;
    }

    nav .brand-logo {
        padding: 0 12px 0 12px;
    }

    .card .card-image img {
        height: 300px;
        width: 100%;
        padding: 0;
    }

    .card {
        height: 420px;
    }

}

/* ----------------------------------------------- First Desktop / Large Tablet view */

@media only screen and (min-width: 1280px) {

    /* --------------------------- Anything above viewsize styling */

    .base-container {
        width: 70%;
    }

}

/* -----------------------------------------------  Large Desktop view styling */

@media only screen and (min-width: 1440px) {

    /* --------------------------- Base / All pages styling */

    .base-container {
        width: 60%;
    }

}



/* -----------------------------------------------  Extra Large Desktop view styling */

@media only screen and (min-width: 1700px) {

    .row .col.m6 {
        width: 20%;
    }
}