@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

html {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0px;
    background: #efefef;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.desktop {
    display: none;
}

/* ----------------------------------------------- Site wide navbar styling */

.page-wrapper {
    overflow: hidden;
}

nav {
    background-color: #fff;
    box-shadow: none;
    height: 40px;
    line-height: 40px;
}

nav .brand-logo {
    font-size: 1rem;
}

.page-footer {
    background-color: #F18F01;
}

.base-container {
    margin: 0 auto;
    width: 90%;
}

nav .sidenav-trigger {
    margin: 0 auto;
}

nav .sidenav-trigger i {
    height: 40px;
    line-height: 40px;
}

nav .brand-logo {
    color: #000000;
}

nav a {
    color: #000000;
}

/* ----------------------------------------------- Landing page styling */

#mobile-bg {
    visibility: visible;
}

#desktop-bg {
    visibility: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

#all-books {
    margin-top: 4em;
}

.action-card {
    background-color: #0FA9A5;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.2em;
}

.action-card h2 {
    padding: 30px 0;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
}

.row .no-padding {
    padding: 0;
}

.genre-card {
    background-color: #fff;
    margin-bottom: 2em;
    padding-bottom: .5em;
    text-align: center;
}

.genre-card img {
    height: 200px;
    width: 100%;
}

.genre-card h3 {
    font-size: 1em;
    margin: 5px 0;
}

/* ----------------------------------------------- Swiper carousel styling */

.swiper-container {
    width: 100%;
}

.swiper-slide {
    background-color: #fff;
    height: 490px;
}

.swiper-slide img {
    width: auto;
    height: 350px;
    display: block;
    margin: 35px auto 20px auto;
}

/* ----------------------------------------------- Site wide buttons */

.btn-custom {
    background-color: #0FA9A5;
    letter-spacing: .15em;
}

.btn-custom-alt {
    background-color: #ca6356;
    letter-spacing: .15em;
}

/* ----------------------------------------------- Site wide heading styling */

h2 {
    font-size: 1.25rem;
}

/* ----------------------------------------------- Site wide card styling */

.card, .card-panel {
    box-shadow: none;
}

.card {
    height: 22vh;
}

.card.horizontal {
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .05);
}

.card.horizontal .card-image img {
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
    padding: .3em;
}

.card.horizontal .card-image {
    max-width: 30%;
}

.card .card-content {
    padding: 10px;
}

.card .card-content .card-title {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #56587F;
}

.card-text {
    font-weight: 300;
    font-size: 13px;
}

/* ----------------------------------------------- Login / Register form styling */

.card-panel {
    padding: 12px;
}

.input-field>label {
    font-size: .8rem;
}

label {
    font-size: .6rem;
}

.form-btn {
    width: 70%;
    margin-bottom: 1rem;
}

.col .row.form-margin {
    margin: 0 0 20px 0;
}

/* ----------------------------------------------- Manage Books styling */

.card-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 5px 5px 0;
}

.pagination li.active {
    background-color: #0FA9A5;
}

/* ----------------------------------------------- Add / Update book styling */

input, select {
    font-family: "Roboto", sans-serif;
}


/* ----------------------------------------------- Desktop view styling */

@media only screen and (min-width: 1024px) {
    .base-container {
        width: 60%
    }

    nav .brand-logo {
        padding: 0 12px 0 12px;
    }

    .input-field {
        margin: 1rem 0 1rem 0;
    }

    .action-card {
        margin-top: 2em;
    }

    .action-card h2 {
        padding: 50px 0;
        font-weight: 700;
        font-size: 2em;
        letter-spacing: .1em;
    }

    .swiper-slide img {
        height: 300px;
    }

    .swiper-slide {
        height: 490px !important;
    }
}
