{% extends "base.html" %}
{% block content %}

    <h2 class="white-text center-align">Add a Book</h2>

    <div class="row base-container">
        <form class="col s12" method="POST" action="{{ url_for('add_book') }}" enctype="multipart/form-data">
            <div class="card-panel">
                <div class="row">
                    <div class="file-field input-field col s12">
                        <div class="btn-small btn-custom">
                            <span>File</span>
                            <input id="cover_img" name="cover_img" type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input id="cover_img" name="cover_img" class="file-path validate" type="text" placeholder="Cover Image">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="book_name" name="book_name" type="text" class="validate" required>
                        <label for="book_name">Book Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="author" name="author" type="text" class="validate" required>
                        <label for="author">Author(s)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="publisher" name="publisher" type="text" class="validate" required>
                        <label for="publisher">Publisher</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select id="book_genres" name="genre" multiple required>
                            <option value="" disabled>Pick Appropriate Genres</option>
                            {% for genre in genres %}
                            <option value="{{ genre._id }}">{{ genre.name }}</option>
                            {% endfor %}                            
                        </select>
                        <label for="book_genres">Genres</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="isbn" name="isbn" type="number" class="validate" required>
                        <label for="isbn">ISBN</label>
                    </div>
                </div>
                <!-- Datepicker  -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="published_date" name="published_date" type="text" class="datepicker validate" required>
                        <label for="published_date">Published Date</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="pages" name="pages" type="number" class="validate"required>
                        <label for="pages">Pages</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="synopsis" name="synopsis" type="text" class="materialize-textarea validate" required></textarea>
                        <label for="synopsis">Synopsis</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Submit button -->
                    <div class="col s12 m6 l4 center-align">
                        <button type="submit" class="form-btn btn-large btn-custom">
                            Submit
                        </button>
                    </div>
                    <!-- Cancel button -->
                    <div class="col s12 m6 l4 center-align">
                        <a href="#" onclick="history.go(-1)" class="form-btn btn-large btn-custom-alt">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}