{% extends "base.html" %}

{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" class="css" type="text/css">

{% endblock %}

{% block content %}

    <h4 class="center-align page-title">Leave a Review!</h4>

    <div class="row container">
        <form class="col s12" method="POST" action="{{ url_for('add_review', book_id=book._id) }}">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="review_title" name="review_title" type="text" class="validate" maxlength="80" data-length="80" required></input>
                        <label for="review_title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="review" name="review" type="text" class="materialize-textarea validate" maxlength="8000" data-length="8000" required></textarea>
                        <label for="review">Review</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Submit button -->
                    <div class="col s12 m6 center-align">
                        <button type="submit" class="form-btn btn-large btn-custom">
                            Submit
                        </button>
                    </div>
                    <!-- Cancel button -->
                    <div class="col s12 m6 center-align">
                        <a href="#" onclick="history.go(-1)" class="form-btn btn-large btn-custom-alt">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}