{% extends "base.html" %}
{% block content %}

    <h4 class="grey-text text-darken-3 center-align">Add a Book</h4>

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="book_name" type="book_name" type="text" required>
                    <label for="book_name">Book Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="author" type="author" type="text" required>
                    <label for="author">Author(s)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="publisher" type="publisher" type="text" required>
                    <label for="publisher">Publisher</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="genre" type="genre" type="text" required>
                    <label for="genre">Genre(s)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="isbn" type="isbn" type="number" required>
                    <label for="isbn">ISBN</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="published_date" type="published_date" type="text" class="datepicker" required>
                    <label for="published_date">Published Date</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="pages" type="pages" type="number" required>
                    <label for="pages">Pages</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="synopsis" type="synopsis" type="text" class="materialize-textarea" required></textarea>
                    <label for="synopsis">Synopsis</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}