{% extends "base.html" %}
{% block content %}

    <section class="landing-banner">
        <div class="landing-background">
            <img id="mobile-bg" src="../static/images/mobile_bg.png" alt="An abstract painted background">
            <img id="desktop-bg" src="../static/images/desktop_bg.png" alt="An abstract painted background">
        </div>

        <div class="base-container">
            <h1 id="landing-header" class="white-text landing-text">A better way to discover and talk about all things books</h1>

            <p id="landing-paragraph" class="white-text landing-text">It's time to put the social back into books. 
                Chat and discuss with a diverse set of people who all have 
                one thing in common. Your love for books.
            </p>
            <a href="#" id="landing-btn">Browse</a>
        </div>
    </section>

    <div class="base-container">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for book in books %}
                    <div class="swiper-slide">
                        <img src="{{ url_for('get_cover_img', filename=book['cover_img_name'])}}" alt="{{ book.book_name }}">
                        <p class="card-title center-align">{{ book.book_name }}</p>
                        <p class="card-text center-align">{{ book.author }}</p>
                    </div>
                {% endfor %}
            </div>
            
            <div class="swiper-button-prev swiper-button-black"></div>
            <div class="swiper-button-next swiper-button-black"></div>
        </div>
    </div>

{% endblock %}