{% extends "base.html" %}

{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/book_page.css') }}" class="css" type="text/css">

{% endblock %}

{% block content %}

    <section class="base-container">
        <div class="book-container row">
            <div class="col s12 m6">
                <div class="image-container">
                    {% if book.cover_img_name == "" %}
                    <img src="/static/images/nobookcover.jpg" alt="{{ book.book_name }}">
                    {% else %}
                    <img src="{{ url_for('get_cover_img', filename=book['cover_img_name'])}}" alt="{{ book.book_name }}">
                    {% endif %}
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            <h4>{{ book.book_name }}</h4>
                            <p>By {{ book.author }}</p>
                        </div>
                        {% if "user" in session.keys() %}
                        <a href="{{ url_for('bookmark', book_id=book._id) }}" 
                            class="btn-floating btn-large halfway-fab waves-effect waves-light red">
                            <i class="material-icons">bookmark</i>
                        </a>
                        {% else %}
                        <a href="#login-modal" 
                            class="modal-trigger btn-floating btn-large halfway-fab waves-effect waves-light red">
                            <i class="material-icons">bookmark</i>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="store-link card">
                    <a href="{{ url_for('store_page', isbn=book.isbn) }}" target="_blank" class="btn waves-effect waves"><i class="material-icons right">local_shipping</i>Store Link</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a href="#description">Description</a></li>
                    <li class="tab col s6"><a href="#reviews">Reviews</a></li>
                </ul>
            </div>
            <div id="description" class="col s12">
                <div class="col s12">
                    <p>{{ book.synopsis }}</p>
                </div>
                <div class="col s12 m6">
                    <div class="card-panel">
                        <h6>Book Information</h6>
                        <p class="">
                            ISBN: {{ book.isbn }}<br>
                            Publication Date: {{ book.published_date }}<br>
                            Author(s): {{ book.author }} <br>
                            Publisher: {{ book.publisher }}<br>
                            Genres: 
                            {% for genre in genres %}
                                {% if genre._id in book.genre %}
                                    {{ genre.name }},
                                {% endif %}
                            {% endfor %}
                            <br>
                            Pages: {{ book.pages }} <br>
                        </p>
                    </div>
                </div>
            </div>
            <div id="reviews" class="col s12">
                {% if "user" in session.keys() %}
                <div class="review-link">
                    <a href="{{ url_for('add_review_page', book_id=book._id) }}" class="btn waves-effect waves">Add a review</a>
                </div>
                {% else %}
                <div class="review-link">
                    <a href="#login-modal" class="btn waves-effect waves modal-trigger">Add a review</a>
                </div>
                {% endif %}
                {% for user_reviews in book.reviews %}
                <div class="card-panel">
                    <h6>{{ user_reviews.user_handle }}'s review on {{ book.book_name }}</h6>
                    <p>
                        {{ user_reviews.review }}
                    </p>
                    {% if user_reviews.user_handle == session["user"] %}
                        <div class="card-action">
                            <a href="{{ url_for('edit_review', book_id=book._id, review_id=user_reviews.review_id) }}" ><i class="icon-size material-icons icon-custom-blue">edit</i></a>
                            <a href="{{ url_for('delete_review', book_id=book._id, review_id=user_reviews.review_id) }}" ><i class="icon-size material-icons icon-custom-red">delete</i></a>
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <div id="login-modal" class="modal">
        <div class="modal-content center-align">
            <h4>You have to be logged in to use this feature.</h4>
            <a href="{{ url_for('login_page') }}" class="btn waves-effect waves">
                Please log in or register now
            </a>
        </div>
    </div>

{% endblock %}