{% extends "base.html" %}
{% block content %}

    <h4 class="grey-text text-darken-3 underline center-align">All Books</h4>

    <section class="container">
        <div class="row">
            {% for book in books %}
            <div class="col s6 m4 l3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img" src="/static/images/thewayofkings.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">{{ book.book_name }}</i></span>
                        <span>Author: {{ book.author }}</span><br>
                        <span>Genres: {{ book.genre }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}