{% extends "base.html" %}

{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/all_books.css') }}" class="css" type="text/css">

{% endblock %}

{% block content %}

    <section id="banner">
        <div class="row">
            <div class="col s12">
                <div class="swiper-container swiper-banner center-align">
                    <div class="swiper-wrapper">
                        {% for book in books %}
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col s12 m8">
                                        <p class="card-title center-align white-text">{{ book.book_name }}</p>
                                        <p class="card-text center-align white-text">{{ book.author }}</p>
                                        <a href="{{ url_for('get_book', book_id=book._id) }}" class="btn white black-text">
                                            view book
                                        </a>
                                    </div>
                                    <div class="col s12 m4">
                                        <a href="{{ url_for('get_book', book_id=book._id) }}">
                                            <img src="{{ url_for('get_cover_img', filename=book['cover_img_name'])}}" alt="{{ book.book_name }}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="base-container">
        <div class="row">
            <div class="col s12">
                <div class="swiper-container swiper-carousel">
                    <div class="swiper-wrapper">
                        {% for book in books %}
                            <div class="swiper-slide">
                                <a href="{{ url_for('get_book', book_id=book._id) }}">
                                    <img src="{{ url_for('get_cover_img', filename=book['cover_img_name'])}}" alt="{{ book.book_name }}">
                                </a>
                                <p class="card-title center-align">{{ book.book_name }}</p>
                                <p class="card-text center-align">{{ book.author }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="swiper-button-prev swiper-button-black"></div>
                    <div class="swiper-button-next swiper-button-black"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="connect-container-img">
            <div class="connect-container">
                <h2>join the justbooks community</h2>
                <h3>Add books, review them and discover what other people have been reading</h3>
                <a href="{{ url_for('login_page') }}" class="btn white black-text">
                    join now
                </a>
            </div>
        </div>
        <div class="about-container center-align">
            <div class="row white">
                <div class="col s12 m6 l4">
                    <img src="/static/images/about-img.jpg" alt="A book, plant and mug of coffe at center">
                </div>
                <div class="col s12 m6 l8">
                    <h2>About JustBooks</h2>
                    <div class="divider-line"></div>
                    <p>
                        JustBooks is a new book review website aimed at allowing 
                        people to share their favourite books and experiences. 
                        Our goal is to grow a community of book lovers to promote 
                        their love for books and to give people a fair insight into 
                        different styles or genres they possibly would have overlooked. 
                    </p>
                    <p>
                        Our tools allow those that join to add books they have read, 
                        enjoyed or hated for others to be able to explore and choose a 
                        perfect book to read next. You can save your favourite books to 
                        the bookmarked page and buy them from amazon through a quick click 
                        of a button. So get sharing, start exploring and help us create 
                        something great here!
                    </p>
                </div>
            </div>
        </div>
        <div class="connect-container-img">
            <div class="bottom-page-container"></div>
        </div>
    </section>

{% endblock %}

{% block scripts %}

<script>
    var swiper_banner = new Swiper(".swiper-banner", {
        direction: "horizontal",
        loop: true,

        autoplay: {
            delay: 6000,
        },

        effect: 'fade',
        fadeEffect: {
            crossFade: true
        },

        preloadImages: false,
        lazy: true,
        slidesPerView: 1,
        simulateTouch: false,
        noSwiping: true,
    })

    var swiper_carousel = new Swiper(".swiper-carousel", {
        direction: "horizontal",
        loop: true,

        // Adds arrows for the user to scroll through if they don't want to swipe
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },

        // Autoplay the carousel / swiper 
        autoplay: {
            delay: 4000,
        },

        // Disable preloading of all images to speed up load times
        preloadImages: false,
        lazy: true,
        slidesPerView: 1,
        spaceBetween: 10,

        breakpoints: {
            601: {
            slidesPerView: 2,
            spaceBetween: 20,
            },
            1024: {
            slidesPerView: 3,
            spaceBetween: 40,
            },
            1400: {
            slidesPerView: 4,
            spaceBetween: 50,
            },
            2000: {
            slidesPerView: 6,
            spaceBetween: 50,
            }
        },
    });
</script>

{% endblock %}