{% extends "base.html" %}
{% block content %}

    <section class="landing-banner">
        <div class="landing-background">
            <img src="../static/images/managebg.svg" alt="A purple wavey background">
        </div>
        
        <div class="base-container landing-inner">

            <h2 class="white-text center-align">Manage your books</h2>

            <!-- Check if user hasn't added any books to the db yet -->
            {% if added_books.count() == 0 %}

            <div class="row">
                <h3>Oops... Looks like you haven't added any books yet!</h3>
                <a href="{{ url_for('add_book') }}" class="btn">How about adding one?</a>
            </div>

            {% else %}

            <div class="row">
                {% for book in added_books %}
                <div class="col s12 m4 l3">
                    <div class="card horizontal">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a class="card-link" href="{{ url_for('get_book', book_id=book._id) }}">
                                {% if book.cover_img_name == "" %}
                                <img class="responsive-img" src="/static/images/nobookcover.jpg" alt="{{ book.book_name }}">
                                {% else %}
                                <img class="responsive-img" src="{{ url_for('get_cover_img', filename=book['cover_img_name'])}}" alt="{{ book.book_name }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <a class="card-title" href="{{ url_for('get_book', book_id=book._id) }}">{{ book.book_name }}</a>
                            </div>
                            <div class="card-buttons">
                                <a href="{{ url_for('edit_book', book_id=book._id )}}" class="btn-small">Edit</a>
                                <a href="{{ url_for('delete_book', book_id=book._id )}}" class="btn-small">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% endif %}
        </div>
    </section>

{% endblock %}