{% extends "base.html" %}
{% block content %}

    <h2 class="center-align page-title">Register</h2>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!-- Username -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"class="validate">
                    <label for="username">Username</label>
                    <span class="helper-text" data-error="Must contain only letters or numbers and be at least 5-15 characters"
                        data-success="Thanks!">
                    </span>
                </div>
            </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" minlength="8"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="validate">
                    <label for="password">Password</label>
                    <span class="helper-text" data-error="Must contain at least one number, one uppercase, 
                    lowercase letter and have at least 8 or more characters" data-success="Thanks!">
                    </span>
                </div>
            </div>
            <!-- Register Button -->
            <div class="row form-margin">
                <button type="submit" class="col s12 m6 l4 offset-m3 offset-l4 btn-large btn-custom">
                    Register
                </button>
            </div>
            <!-- Go to Log In Page Button -->
            <div class="row center-align">
                <a href="{{ url_for('login_page') }}" class="custom-blue">
                    Already Registered?
                </a>
            </div>
        </div>
        </form>
    </div>

{% endblock %}